[VERIFICATION REPORT](https://1drv.ms/w/c/13f5c8bbdb41dcc3/IQCyGFEOa6evRq5j3VlYF_SGAW0UG2iMplezklLLhTU_rD4?e=PdJqOu)
